Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

azure-pipelines.agent.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-agent-results
    inputs:
      command: volume
      arguments: create test-agent-results
  - task: DockerCompose@0
    displayName: run agent
    inputs:
      dockerComposeFile: docker-compose.agent.tests.yml
  ...

azure-pipelines.api.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-data-results
    inputs:
      command: volume
      arguments: create test-data-results
  - task: DockerCompose@0
    displayName: up test-data db
    inputs:
      dockerComposeFile: docker-compose.data.tests.yml
  ...

azure-pipelines.nginx.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CopyFiles@2
    displayName: stage files
    inputs:
      SourceFolder: $(Build.SourcesDirectory)
      Contents: 'ops/nginx/**
  
        docker-compose.yml
  
        docker-compose.prod.yml
  
        '
      TargetFolder: $(Build.ArtifactStagingDirectory)
  ...

azure-pipelines.web.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: build
    inputs:
      containerRegistry: GitHub Docker Package Registry - FilterLists
      repository: collinbarrett/filterlists/filterlists.web
      command: build
      Dockerfile: src/FilterLists.Web/Dockerfile
      buildContext: .
  ...

specify Docker context for debugging in vs
  src/FilterLists.Api/FilterLists.Api.csproj
Due: azure-pipelines.api.yaml

specify vs debug build stage
  src/FilterLists.Api/FilterLists.Api.csproj
Due: azure-pipelines.api.yaml

Added 20 lists
  data/FilterList.json
Due: azure-pipelines.api.yaml

Update FilterList.json
  data/FilterList.json
Due: azure-pipelines.api.yaml

Update FilterListTag.json
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

Update FilterListLanguage.json
  data/FilterListLanguage.json
Due: azure-pipelines.api.yaml

Update FilterListMaintainer.json
  data/FilterListMaintainer.json
Due: azure-pipelines.api.yaml

rm RuntimeHostConfigurationOption from libs
  src/FilterLists.Data/FilterLists.Data.csproj
  src/FilterLists.Services/FilterLists.Services.csproj
Due: azure-pipelines.api.yaml

tabs -> spaces csproj
  src/FilterLists.Agent/FilterLists.Agent.csproj
  src/FilterLists.Api/FilterLists.Api.csproj
  src/FilterLists.Data/FilterLists.Data.csproj
  src/FilterLists.Services/FilterLists.Services.csproj
  tests/FilterLists.Agent.Tests/FilterLists.Agent.Tests.csproj
  tests/FilterLists.Data.Tests/FilterLists.Data.Tests.csproj
  tests/FilterLists.Services.Tests/FilterLists.Services.Tests.csproj
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml

update SSL config
  ops/nginx/svr-includes/ssl.conf
Due: azure-pipelines.nginx.yaml

use more generic 'latest' tag for most up-to-date mariadb image
  docker-compose.data.tests.yml
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

fix gutter between name and prefix on <= medium widths, ultra-wide still has gutter :/
  src/FilterLists.Web/src/components/listsTable/ListsTable.tsx
Due: azure-pipelines.web.yaml

mostly fix gutter before Description column on ultra-wide viewport
  src/FilterLists.Web/src/components/listsTable/ListsTable.tsx
  src/FilterLists.Web/src/hooks/useTablePageSizer.tsx
Due: azure-pipelines.web.yaml

Update License.json
  data/License.json
Due: azure-pipelines.api.yaml

Update Syntax.json
  data/Syntax.json
Due: azure-pipelines.api.yaml

Update Software.json
  data/Software.json
Due: azure-pipelines.api.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, src/FilterLists.Agent, tests/FilterLists.Agent.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, src/FilterLists.Web, .dockerignore, docker-compose.yml, docker-compose.prod.yml
