Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.api.yaml, azure-pipelines.web.yaml

azure-pipelines.api.yaml:

trigger:
  batch: false
  branches:
    include: ["master"]
  paths:
    include:
      [
        "azure-pipelines.api.yaml",
        "src/FilterLists.Api/*",
        "src/FilterLists.Services/*",
        "src/FilterLists.Data/*",
        "tests/FilterLists.Services.Tests/*",
        "tests/FilterLists.Data.Tests/*",
        ".dockerignore",
        "docker-compose.yml",
        "docker-compose.prod.yml",
        "docker-compose.data.tests.yml",
        "docker-compose.services.tests.yml",
        "data/*",
      ]

pr:
  autoCancel: false
  branches:
    include: ["master"]
  paths:
    include:
      [
        "azure-pipelines.api.yaml",
        "src/FilterLists.Api/*",
        "src/FilterLists.Services/*",
        "src/FilterLists.Data/*",
        "tests/FilterLists.Services.Tests/*",
        "tests/FilterLists.Data.Tests/*",
        ".dockerignore",
        "docker-compose.yml",
        "docker-compose.prod.yml",
        "docker-compose.data.tests.yml",
        "docker-compose.services.tests.yml",
        "data/*",
      ]

pool:
  vmImage: "ubuntu-latest"

steps:
  - task: CopyFiles@2
    displayName: "stage docker-compose files"
    inputs:
      SourceFolder: "$(Build.SourcesDirectory)"
      Contents: |
        docker-compose.yml
        docker-compose.prod.yml
      TargetFolder: "$(Build.ArtifactStagingDirectory)"
      CleanTargetFolder: true
      OverWrite: true
    condition: "and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))"
    enabled: false

  - task: PublishBuildArtifacts@1
    displayName: "publish docker-compose files"
    inputs:
      PathtoPublish: "$(Build.ArtifactStagingDirectory)"
      ArtifactName: "drop"
      publishLocation: "Container"
    condition: "and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))"
    enabled: false

azure-pipelines.web.yaml:

trigger:
  batch: false
  branches:
    include: ["master"]
  paths:
    include:
      [
        "azure-pipelines.web.yaml",
        "src/FilterLists.Web/*",
        ".dockerignore",
        "docker-compose.yml",
        "docker-compose.prod.yml",
      ]

pr:
  autoCancel: false
  branches:
    include: ["master"]
  paths:
    include:
      [
        "azure-pipelines.web.yaml",
        "src/FilterLists.Web/*",
        ".dockerignore",
        "docker-compose.yml",
        "docker-compose.prod.yml",
      ]

pool:
  vmImage: "ubuntu-latest"

steps:
  - task: Docker@2
    displayName: "build"
    inputs:
      containerRegistry: "GitHub Docker Package Registry - FilterLists"
      repository: "collinbarrett/filterlists/filterlists.web"
      command: "build"
      Dockerfile: "src/FilterLists.Web/Dockerfile"
      buildContext: "."
      tags: |
        latest
        $(Build.BuildId)
      addPipelineData: false

  - task: Docker@2
    displayName: "push"
    inputs:
      containerRegistry: "GitHub Docker Package Registry - FilterLists"
      repository: "collinbarrett/filterlists/filterlists.web"
      command: "push"
      tags: |
        latest
        $(Build.BuildId)
    condition: "and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))"

  - task: CopyFiles@2
    displayName: "stage docker-compose files"
    inputs:
      SourceFolder: "$(Build.SourcesDirectory)"
      Contents: |
        docker-compose.yml
        docker-compose.prod.yml
      TargetFolder: "$(Build.ArtifactStagingDirectory)"
      CleanTargetFolder: true
      OverWrite: true
    condition: "and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))"

  - task: PublishBuildArtifacts@1
    displayName: "publish docker-compose files"
    inputs:
      PathtoPublish: "$(Build.ArtifactStagingDirectory)"
      ArtifactName: "drop"
      publishLocation: "Container"
    condition: "and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))"

port existing API pipe to yaml
  azure-pipelines.api.yaml
Due: azure-pipelines.api.yaml

fix indentation in yaml
  azure-pipelines.api.yaml
Due: azure-pipelines.api.yaml

tag should be lowercase
  docker-compose.agent.tests.yml
  docker-compose.data.tests.yml
  docker-compose.services.tests.yml
  docker-compose.yml
Due: azure-pipelines.api.yaml, azure-pipelines.web.yaml

test if lowercase tag from last commit fixes push to GitHub pkg reg
  azure-pipelines.web.yaml
Due: azure-pipelines.web.yaml

Revert "test if lowercase tag from last commit fixes push to GitHub pkg reg"
  azure-pipelines.web.yaml
Due: azure-pipelines.web.yaml

delay creating services test results volume
  azure-pipelines.api.yaml
Due: azure-pipelines.api.yaml

delay creating test-data-results vol
  azure-pipelines.api.yaml
Due: azure-pipelines.api.yaml

Revert "delay creating test-data-results vol"
  azure-pipelines.api.yaml
Due: azure-pipelines.api.yaml

consistently use quotes, fix push command
  azure-pipelines.api.yaml
Due: azure-pipelines.api.yaml

fix tag step
  azure-pipelines.api.yaml
Due: azure-pipelines.api.yaml

add links to bug on disabled steps
  azure-pipelines.api.yaml
  azure-pipelines.web.yaml
Due: azure-pipelines.api.yaml, azure-pipelines.web.yaml

Update FilterListMaintainer.json
  data/FilterListMaintainer.json
Due: azure-pipelines.api.yaml

Update FilterList.json
  data/FilterList.json
Due: azure-pipelines.api.yaml

Update FilterListTag.json
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

Added 33 lists
  data/FilterList.json
Due: azure-pipelines.api.yaml

Update FilterListLanguage.json
  data/FilterListLanguage.json
Due: azure-pipelines.api.yaml

I found a better version of Corset
  data/FilterList.json
Due: azure-pipelines.api.yaml

Added 4 more lists
  data/FilterList.json
Due: azure-pipelines.api.yaml

Maintaining an IP list version wasn't worth it after all
  data/FilterList.json
Due: azure-pipelines.api.yaml

keep trying to push to GH pkg reg, but don't fail the build if it fails
  azure-pipelines.api.yaml
  azure-pipelines.web.yaml
Due: azure-pipelines.api.yaml, azure-pipelines.web.yaml

fix(urlhaus-filter): fix syntaxId and improve description
  data/FilterList.json
Due: azure-pipelines.api.yaml

feat(urlhaus-filter): add hosts-based blocklists
  data/FilterList.json
Due: azure-pipelines.api.yaml

fix: improve descriptions
  data/FilterList.json
Due: azure-pipelines.api.yaml

fix(urlhaus-filter): update statically cdn link
  data/FilterList.json
Due: azure-pipelines.api.yaml

revert Web to dockerhub
  azure-pipelines.web.yaml
  docker-compose.yml
Due: azure-pipelines.api.yaml, azure-pipelines.web.yaml
