Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

azure-pipelines.agent.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-agent-results
    inputs:
      command: volume
      arguments: create test-agent-results
  - task: DockerCompose@0
    displayName: run agent
    inputs:
      dockerComposeFile: docker-compose.agent.tests.yml
  ...

azure-pipelines.api.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-data-results
    inputs:
      command: volume
      arguments: create test-data-results
  - task: DockerCompose@0
    displayName: up test-data db
    inputs:
      dockerComposeFile: docker-compose.data.tests.yml
  ...

azure-pipelines.nginx.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CopyFiles@2
    displayName: stage files
    inputs:
      SourceFolder: $(Build.SourcesDirectory)
      Contents: 'ops/nginx/**
  
        docker-compose.yml
  
        docker-compose.prod.yml
  
        '
      TargetFolder: $(Build.ArtifactStagingDirectory)
  ...

azure-pipelines.web.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: build
    inputs:
      containerRegistry: collinbarrett2-dockerhub
      repository: collinbarrett2/filterlists.web
      command: build
      buildContext: ./web
      tags: 'latest
  
        $(Build.BuildId)
  
        '
  ...

include repo name in docker push
  azure-pipelines.web.yaml
Due: azure-pipelines.web.yaml

add login to GPR task, ren service connection
  azure-pipelines.web.yaml
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

test slimming build task
  azure-pipelines.web.yaml
Due: azure-pipelines.web.yaml

Revert "switch web to GitHub image registry"
  azure-pipelines.web.yaml
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

update docker hub shields in readme
  .github/README.md
Due: none

move web Pipeline config to web directory
  web/azure-pipelines.web.yaml
Due: azure-pipelines.web.yaml

try fix trigger
  web/azure-pipelines.web.yaml
Due: azure-pipelines.web.yaml

revert trying to mv Pipelines yml
  azure-pipelines.web.yaml
Due: azure-pipelines.web.yaml

Update FilterList.json
  data/FilterList.json
Due: azure-pipelines.api.yaml

fix agent Dockerfile for path changes
  agent/FilterLists.Agent/Dockerfile
Due: none

fix agent Dockerfile for tests path changes
  agent/FilterLists.Agent/Dockerfile
Due: none

Update FilterListMaintainer.json
  data/FilterListMaintainer.json
Due: azure-pipelines.api.yaml

Update SoftwareSyntax.json
  data/SoftwareSyntax.json
Due: azure-pipelines.api.yaml

Update FilterListTag.json
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

Update Tag.json
  data/Tag.json
Due: azure-pipelines.api.yaml

Removed one last grammar error
  data/FilterList.json
Due: azure-pipelines.api.yaml

Took care of #1263
  data/FilterList.json
Due: azure-pipelines.api.yaml

try nest web pipeline config in web dir
  web/azure-pipelines.yaml
Due: azure-pipelines.web.yaml

try fix web paths
  web/azure-pipelines.yaml
Due: azure-pipelines.web.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, src/FilterLists.Agent, tests/FilterLists.Agent.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, web, docker-compose.yml, docker-compose.prod.yml
