Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.api.yaml, azure-pipelines.web.yaml

azure-pipelines.api.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-data-results
    inputs:
      command: volume
      arguments: create test-data-results
  - task: DockerCompose@0
    displayName: up test-data db
    inputs:
      dockerComposeFile: docker-compose.data.tests.yml
  ...

azure-pipelines.web.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: build
    inputs:
      containerRegistry: GitHub Docker Package Registry - FilterLists
      repository: collinbarrett/filterlists/filterlists.web
      command: build
      Dockerfile: src/FilterLists.Web/Dockerfile
      buildContext: .
  ...

revert API to dockerhub
  .github/README.md
  azure-pipelines.api.yaml
  docker-compose.data.tests.yml
  docker-compose.services.tests.yml
  docker-compose.yml
Due: azure-pipelines.api.yaml, azure-pipelines.web.yaml

fix shields
  .github/README.md
Due: none

fix tag API to dockerhub
  azure-pipelines.api.yaml
Due: azure-pipelines.api.yaml

update csprojs
  src/FilterLists.Agent/FilterLists.Agent.csproj
  src/FilterLists.Api/FilterLists.Api.csproj
  src/FilterLists.Data/FilterLists.Data.csproj
  src/FilterLists.Services/FilterLists.Services.csproj
  tests/FilterLists.Agent.Tests/FilterLists.Agent.Tests.csproj
  tests/FilterLists.Data.Tests/FilterLists.Data.Tests.csproj
  tests/FilterLists.Services.Tests/FilterLists.Services.Tests.csproj
Due: azure-pipelines.api.yaml

update dockerfiles
  src/FilterLists.Agent/Dockerfile
  src/FilterLists.Api/Dockerfile
Due: azure-pipelines.api.yaml

rm ref to Microsoft.AspNetCore.App
  src/FilterLists.Api/FilterLists.Api.csproj
Due: azure-pipelines.api.yaml

use beta of Microsoft.AspNetCore.Mvc.Versioning for netcore3.0 support
  src/FilterLists.Api/FilterLists.Api.csproj
Due: azure-pipelines.api.yaml

port Newtwonsoft dep
  src/FilterLists.Api/DependencyInjection/Extensions/ConfigureServicesCollection.cs
  src/FilterLists.Api/FilterLists.Api.csproj
Due: azure-pipelines.api.yaml

bump compat version
  src/FilterLists.Api/DependencyInjection/Extensions/ConfigureServicesCollection.cs
Due: azure-pipelines.api.yaml

use only Controllers rather than all of MVC for API
  src/FilterLists.Api/DependencyInjection/Extensions/ConfigureServicesCollection.cs
Due: azure-pipelines.api.yaml

Migrate Startup.Configure
  src/FilterLists.Api/DependencyInjection/Extensions/ConfigureServicesCollection.cs
  src/FilterLists.Api/Startup.cs
Due: azure-pipelines.api.yaml

bump pause before running data tests to give db time to come online
  tests/FilterLists.Data.Tests/SeedFilterListsDbContextTests.cs
Due: azure-pipelines.api.yaml

add agent build
  azure-pipelines.agent.yaml
  docker-compose.agent.tests.yml
  docker-compose.yml
Due: azure-pipelines.api.yaml, azure-pipelines.web.yaml

update Agent shields
  .github/README.md
Due: none

trim and R2R
  src/FilterLists.Agent/FilterLists.Agent.csproj
  src/FilterLists.Api/FilterLists.Api.csproj
Due: azure-pipelines.api.yaml

PublishReadyToRunShowWarnings
  src/FilterLists.Agent/FilterLists.Agent.csproj
  src/FilterLists.Api/FilterLists.Api.csproj
Due: azure-pipelines.api.yaml

disable R2R since startup time isn't critical and the smaller image and less build warnings is preferable for now
  src/FilterLists.Agent/FilterLists.Agent.csproj
  src/FilterLists.Api/FilterLists.Api.csproj
Due: azure-pipelines.api.yaml

simplify csproj configs
  src/FilterLists.Agent/FilterLists.Agent.csproj
  src/FilterLists.Api/FilterLists.Api.csproj
  src/FilterLists.Data/FilterLists.Data.csproj
  src/FilterLists.Services/FilterLists.Services.csproj
  tests/FilterLists.Agent.Tests/FilterLists.Agent.Tests.csproj
  tests/FilterLists.Data.Tests/FilterLists.Data.Tests.csproj
  tests/FilterLists.Services.Tests/FilterLists.Services.Tests.csproj
Due: azure-pipelines.api.yaml

restore specifying RuntimeIdentifiers
  src/FilterLists.Agent/FilterLists.Agent.csproj
  src/FilterLists.Api/FilterLists.Api.csproj
Due: azure-pipelines.api.yaml

Revert "disable R2R since startup time isn't critical and the smaller image and less build warnings is preferable for now"
  src/FilterLists.Agent/FilterLists.Agent.csproj
  src/FilterLists.Api/FilterLists.Api.csproj
Due: azure-pipelines.api.yaml

convert nginx build to yaml
  azure-pipelines.nginx.yaml
Due: none

disablenginx pr builds
  azure-pipelines.nginx.yaml
Due: none

consolidate update of nuget
  src/FilterLists.Agent/FilterLists.Agent.csproj
  src/FilterLists.Api/FilterLists.Api.csproj
  src/FilterLists.Data/FilterLists.Data.csproj
  src/FilterLists.Services/FilterLists.Services.csproj
  tests/FilterLists.Agent.Tests/FilterLists.Agent.Tests.csproj
  tests/FilterLists.Data.Tests/FilterLists.Data.Tests.csproj
  tests/FilterLists.Services.Tests/FilterLists.Services.Tests.csproj
Due: azure-pipelines.api.yaml

update FxCopAnalyzers
  src/FilterLists.Agent/FilterLists.Agent.csproj
  src/FilterLists.Api/FilterLists.Api.csproj
  src/FilterLists.Data/FilterLists.Data.csproj
  src/FilterLists.Services/FilterLists.Services.csproj
  tests/FilterLists.Agent.Tests/FilterLists.Agent.Tests.csproj
  tests/FilterLists.Data.Tests/FilterLists.Data.Tests.csproj
  tests/FilterLists.Services.Tests/FilterLists.Services.Tests.csproj
Due: azure-pipelines.api.yaml

specify Docker context for debugging in vs
  src/FilterLists.Api/FilterLists.Api.csproj
Due: azure-pipelines.api.yaml

re-gen .sln
  FilterLists.sln
Due: none

Path conditions:
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, src/FilterLists.Web, .dockerignore, docker-compose.yml, docker-compose.prod.yml
